body{
    display: grid;
    height: 100vh;
}
body, #divmain, #div1{
    align-items: center;
    justify-content: center;
}


/* Login Form */
#divmain{
    background-color: rgb(240, 240, 240);
    text-align: center;
    width: auto;
    padding: 20px;
}
img{
    width: 300px;
}
#div1{
   display: grid;
}  
.class1{
    margin-bottom: 5px;
    text-align: left;
}
input{
    color: gray;
}
#login{
    background-color: blue;
    border: none;
    width: 287px;
    padding: 7px;
    color: white;
}
#password, #username{
    padding: 5px;
}
label{
    text-align: left;
}


/* Registration Form  */
#registrationForm{
    color: rgb(1, 66, 45);
    text-align: center;
    margin-bottom: 50px;
}
.inputnames{
   
}
#divmain2{
    background-color: rgb(250, 250, 250);
    padding: 5px;
}
#divname{
    gap: 30px;
    display: flex;
}
.inputregister{
    padding: 5px;
    margin-bottom: 10px;
}
#divAgeStart{

}